/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #a578fa;
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 100%;
  max-width: 600px;
}

.profile-section {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.profile-picture {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-picture img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#upload-button {
  display: none;
}

.upload-label {
  position: absolute;
  bottom: 10px;
  right: 200px;
  background-color: #a578fa;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.upload-label i {
  font-size: 16px;
}

.profile-info {
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.form-group label {
  width: 100px;
}

.form-group input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#edit-button {
  background-color: #a578fa;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

#edit-button:hover {
  background-color: #a578fa;
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .main-content {
    padding: 10px;
  }

  .profile-picture img {
    width: 120px;
    height: 120px;
  }

  .upload-label {
    bottom: 5px;
    right: calc((100vw - 200px) / 2);
    padding: 8px;
  }

  #edit-button {
    padding: 10px;
  }
}
